{:deps    {org.clojure/clojure            {:mvn/version "1.12.0-alpha5"}
           rewrite-clj/rewrite-clj        {:mvn/version "1.1.47"}
           dev.weavejester/cljfmt         {:mvn/version "0.13.1"}
           borkdude/edamame               {:mvn/version "1.4.25"}
           zprint/zprint                  {:mvn/version "1.2.8"}}
 :paths   ["electric-src" "resources"]
 :aliases {:nrepl
           {:extra-paths ["src" "reframe-examples" "reframe-output"]
            :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
            ;; this allows nrepl to interrupt runaway repl evals
            :jvm-opts ["-Djdk.attach.allowAttachSelf"]
            :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}
           :electric-dev
           {:extra-paths ["electric-dev"]
            :extra-deps  {com.hyperfiddle/electric {:mvn/version "v3-alpha-SNAPSHOT"}
                          ring/ring                {:mvn/version "1.11.0"}
                          ring-basic-authentication/ring-basic-authentication {:mvn/version "1.2.0"}
                          io.github.tonsky/clj-reload {:mvn/version "0.9.0"}
                          nano-id/nano-id   {:mvn/version "1.0.0"}
                          com.rpl/specter   {:mvn/version "1.1.4"}
                          org.clojure/clojurescript      {:mvn/version "1.11.121"}
                          org.clojure/tools.logging      {:mvn/version "1.2.4"}
                          ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
                          thheller/shadow-cljs           {:mvn/version "2.26.2"}
                          com.thheller/shadow-css        {:mvn/version "0.4.6"}
                          io.github.clojure/tools.build  {:mvn/version "0.9.6"
                                                          :exclusions  [com.google.guava/guava
                                                                        org.slf4j/slf4j-nop]}}}
           :reframe-dev
           {:extra-paths ["reframe-dev" "reframe-examples" "src" "reframe-output"]
            :extra-deps {
                         #_#_cljsjs/react      {:mvn/version "17.0.2-0"}
                         #_#_cljsjs/react-dom  {:mvn/version "17.0.2-0"}
                         #_#_reagent/reagent   {:mvn/version "1.1.1"}
                         #_#_re-frame/re-frame {:mvn/version "1.3.0"}
                         cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
                         reagent/reagent     {:mvn/version "1.2.0"}
                         re-frame/re-frame   {:mvn/version "1.3.0"}
                         ring/ring           {:mvn/version "1.11.0"}
                         nano-id/nano-id     {:mvn/version "1.0.0"}
                         com.rpl/specter     {:mvn/version "1.1.4"}
                         thheller/shadow-cljs        {:mvn/version "2.26.2"}
                         com.thheller/shadow-css     {:mvn/version "0.4.6"}
                         io.github.tonsky/clj-reload {:mvn/version "0.9.0"}
                         }}
           :test {:paths ["src"]
                  :main-opts ["-e" "(require '[translator.translation-test]) (clojure.test/run-tests 'translator.translation-test)"]}
           }}
