{:allowed-directories ["."
                       "src"
                       "electric-src"
                       "reframe-examples"
                       "reframe-output"
                       ]
 :write-file-guard :partial-read
 :cljfmt true
 :bash-over-nrepl true
 :scratch-pad-load false
 :scratch-pad-file "scratch_pad.edn"
 :dispatch-agent-context true}
